$font-family: 'Montserrat', 'Open Sans', 'Roboto', sans-serif;

$stakelogic-mine-shaft: #232323;
$stakelogic-apple: #3AD52E;
$stakelogic-alabaster-white: #f7f7f7;
$stakelogic-gallery-white: #ededed;
$stakelogic-athens-grey: #f6f6f8;
$stakelogic-white: #ffffff;
$stakelogic-silver-chalice: #adadad;
$stakelogic-grey: #858585;

