@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap);
/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
html, body {
  margin: 0;
  padding: 0;
  background: #232323;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, h5, p, input, label, button {
  color: #ffffff;
  font-family: "Montserrat", "Open Sans", "Roboto", sans-serif;
}

.icon {
  color: #f6f6f8;
}

.container {
  margin: 1em;
}

.m10 {
  margin: 10px;
}

.button {
  display: flex;
  justify-content: center;
}
.button button {
  width: 146.61px;
  height: 35px;
  border: 0;
  padding: 0;
}
.button button:disabled {
  background-color: #858585;
}
.button button:disabled:hover {
  cursor: default;
}
.button button:enabled:hover {
  cursor: pointer;
}

.green {
  background-color: #3AD52E;
}

.dropzone {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #f6f6f8;
  position: relative;
  margin: 0 auto;
}
.dropzone input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.dropzone input:hover {
  cursor: pointer;
}
.dropzone label {
  color: #ffffff;
  width: 183px;
  height: 44px;
  background-color: #3AD52E;
  padding: 8px 16px;
}
.dropzone h3 {
  font-size: 20px;
  font-weight: 600;
  color: #f6f6f8;
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 1.5rem;
}
.files-list .single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 1px #f6f6f8;
  margin-bottom: 1rem;
  display: flex;
  flex-grow: 1;
}
.files-list .single-file .delete {
  cursor: pointer;
}
.files-list .single-file .name {
  font-size: 14px;
  font-weight: 500;
  color: #f6f6f8;
  margin: 0;
}
.files-list .single-file .size {
  font-size: 12px;
  font-weight: 500;
  color: #f6f6f8;
  margin: 0 0 0.25rem;
}
.files-list .single-file .info {
  width: 100%;
}

.icon {
  fill: #f6f6f8;
}

/*# sourceMappingURL=drag-drop.component.css.map */
