<div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
  <input type="file" accept="*.json" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event);"/>
  <i class="fas fa-file-upload fa-4x icon"></i>
  <h3>Drag an drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>
<div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <i class="fas fa-file-code fa-2x icon m10"></i>
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
    </div>
    <i class="fas fa-trash-alt fa-lg icon m10 delete" (click)="deleteFile(i); reCalculateButtonStatus()"></i>
  </div>
</div>
<div class="button">
  <button [disabled]="buttonDisabled" class="green" (click)="commitFiles()">Convert files</button>
</div>
