@import "../../../styles";

.dropzone {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px $stakelogic-athens-grey;
  position: relative;
  margin: 0 auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:hover {
      cursor: pointer;
    }
  }

  label {
    color: $stakelogic-white;
    width: 183px;
    height: 44px;
    background-color: $stakelogic-apple;
    padding: 8px 16px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: $stakelogic-athens-grey;
  }
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 1.5rem;

  .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px $stakelogic-athens-grey;
    margin-bottom: 1rem;

    .delete {
      //margin-left: 0.5rem;
      cursor: pointer;
      //align-self: flex-end;
    }


    display: flex;
    flex-grow: 1;

    .name {
      font-size: 14px;
      font-weight: 500;
      color: $stakelogic-athens-grey;
      margin: 0;
    }

    .size {
      font-size: 12px;
      font-weight: 500;
      color: $stakelogic-athens-grey;
      margin: 0 0 0.25rem;
    }

    .info {
      width: 100%
    }
  }
}

.icon {
  fill: $stakelogic-athens-grey;
}


