@import "assets/scss/base";

html, body {
  margin: 0;
  padding: 0;
  background: $stakelogic-mine-shaft;
  @include noselect;
}

h1, h2, h3, h4, h5, p, input, label, button {
  color: $stakelogic-white;
  font-family: $font-family;
}

.icon {
  color: $stakelogic-athens-grey;
}


.container {
  margin: 1em;
}

.m10 {
  margin: 10px;
}

.button {
  display: flex;
  justify-content: center;

  button {
    width: 146.61px;
    height: 35px;
    border: 0;
    padding: 0;

    &:disabled {
      background-color: $stakelogic-grey;
      &:hover{
        cursor: default;
      }
    }

    &:enabled{
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.green {
  background-color: $stakelogic-apple;
}

