@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap);
html, body {
  margin: 0;
  padding: 0;
  background: #232323;
  font-family: "Montserrat", "Open Sans", "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, p {
  color: #ffffff;
}

.container {
  margin: 1em;
}

/*# sourceMappingURL=styles.css.map */
